<div class="container"> 
  <div align="center">
  	<div id="error_notice"><%= flash.now[:error] %></div>
		<h1>Sign in</h1>

		<div class="row">
		  <div class="span6 offset3">
		    <%= form_for(:session, url: sessions_path) do |f| %>

		    <%= f.text_field :email, placeholder: "Email" %><br><br>

		    <%= f.password_field :password, placeholder: "Password" %><br><br>

		    <%= f.submit "Sign in", class: "btn btn-sm btn-primary" %>
				<% end %>

		  	<p>New user? <%= link_to "Sign up now!", signup_path %></p>
		  </div>
		</div>
	</div>
</div>