<h5>Comments:</h5> 
<% for comment in @market.comments %>
  <% if current_user == nil %>
    <%= comment.body %><br><br>
  <% elsif comment.body %>
  	<%= comment.body %> - <%= @current_user.name %><br><br>
  <% end %>
<% end %>

<br><br>

<h5>Add Comment:</h5>
<%= form_for [@market, @comment] do |f| %>
  <%= f.text_area :body %><br>
  <%= f.submit %>
<% end %>