<div class="container">

  <h3>SF Farmers' Market List</h3><br>

  <div class="table-responsive">
    <table class="table table-striped">
      <tr>
        <th>Name</th>
        <th>Address</th>
        <th>Day</th>
        <th>Time</th>
      </tr>
      <% @markets.each do |m| %>
      <tr>
        <td><a href="<%= m.id %>"><%= m.name %></a></td>
        <td><%= m.address %></td>
        <td><%= m.day %></td>
        <td><%= m.time %></td>
      </tr>
      <% end %>
    </table>
  </div>


</div>