<div class="container bgimage">
	<div id="error_notice"><%= flash[:error] %></div>
	<h4><%= @market.name %></h4>

	<%= @market.address %><br>
	<%= @market.day %><br>
	<%= @market.time %><br>
	Phone number: <%= @market.number == nil ? @market.number = "N/A" : @market.number %><br>
	<%= @market.description == nil ? @market.description = "" : @market.description = "*" + @market.description %><br><br>

	<a href="/sf_farmers_market_guide/list" role="button" class="btn btn-success btn-xs">Back
	</a><br><br>

	<%= render :partial => "shared/comments", :locals => {:commentable => @market} %>

	<br>
	<div id="small_map"><div id="map-canvas", style="height:250px; width:250px;"></div></div>

</div>