<div class="container">

	<h4><%= @market.name %></h4>

	<%= @market.address %><br>
	<%= @market.day %><br>
	<%= @market.time %><br>
	Phone number: <%= @market.number == nil ? @market.number = "N/A" : @market.number %><br>
	<%= @market.description == nil ? @market.description = "" : @market.description = "*" + @market.description %><br><br>

	<a href="/sf_farmers_market_guide/list">
	<button type="button" class="btn btn-success btn-xs">Back</button>
	</a><br><br>

	<%= render :partial => "shared/comments", :locals => {:commentable => @market} %>

</div>